BASE_DOMAIN=wordpress.local
INGRESS_CLASS_NAME=nginx
MARIADB_IMAGE=mariadb:11.8.6
WORDPRESS_IMAGE=wordpress:php8.5-apache
MARIADB_SERVICE_PORT=3306
WORDPRESS_SERVICE_PORT=80
MARIADB_REPLICA_COUNT=1
WORDPRESS_REPLICA_COUNT=1
MARIADB_DATABASE=wordpress
WORDPRESS_DB_USER=root
MARIADB_PVC_SIZE=1Gi
WORDPRESS_PVC_SIZE=1Gi
